{% extends "layout.html" %}
{% block body %}

<h1>Dashboard</h1>

<div class="card">
    <h5 class="card-header">Facebook User</h5>
    <div class="card-body">
        {% if fuser %}
        <h5 class="card-title">{{ fuser["facebook_first_name"] }}</h5>
        <p class="card-text">{{ fuser["facebook_user_id"] }}</p>
        <ul>
        {% for page in fuser["facebook_pages"]%}
            <li>{{ page["name"] }} {% if page["instagram"] %}(+Instagram){% endif %} {% if page["subscripted_app"] %}<a href="/action_to_page/{{ page["id"] }}/unsubscribe">Unsubscribe</a>{% else %}<a href="/action_to_page/{{ page["id"] }}/subscribe">Subscribe</a>{% endif %}</li>
        {% endfor %}
        </ul>
        <a href="/facebook_auth_a" class="btn btn-primary">Reconnect to Facebook</a>
        {% else %}
        <a href="/facebook_auth_a" class="btn btn-primary">Connect to Facebook</a>
        {% endif %}
        <a href="/mercadolibre_auth_a" class="btn btn-primary">Connect to MercadoLibre</a>
    </div>
</div>

{% endblock %}
