{% extends "layout.html" %}
{% block body %}

<h1>My Bots</h1>
{% for bot in bots %}
<div class="card">
    <h5 class="card-header">{{ bot.name }}</h5>
    <div class="card-body">
        <h5 class="card-title">{{ bot.name }}</h5>
        <p class="card-text">{{ bot.description }}</p>
        <ul>
        {% for page in fuser["facebook_pages"]%}
            <li>{{ page["name"] }} {% if page["instagram"] %}(+ Instagram){% endif %} {% if page["subscripted_app"] %}<a href="/action_to_page/{{ page["id"] }}/unsubscribe">Unsubscribe</a>{% else %}<a href="/action_to_page/{{ page["id"] }}/subscribe">Subscribe</a>{% endif %}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}

{% endblock %}
